.search-container {
  height: 270px;
  width: 1250px;
  margin: 55px 50px;
  background: #e6f7ff;
  border-radius: 16px;
}

.search-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 38px;
  line-height: 46px;
  color: #262626;
  padding: 65px 95px 15px;
}

.search-input {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  width: 675px;
  height: 40px;
  padding: 8px 17px;
  margin-left: 95px;
  margin-bottom: 25px;
}

.btn-search-container {
  margin-left: 95px;
}

.left-components {
  display: flex;
  flex-direction: column;
}
